.nav{
    display: flex;
    position: sticky;
    top: 0px;
    background-color:bisque;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
}

.nav-links{
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}

.nav-links li{
    margin-right: 2rem;
}

.logo{
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.active{
    color: black;
    font-weight: bold;
}
